@font-face {
  font-family: 'GowunBatang-Regular';
  src: local('GowunBatang'), url('@/assets/fonts/GowunBatang-Regular.ttf');
}

@font-face {
  font-family: 'GowunBatang-Bold';
  src: local('GowunBatang'), url('@/assets/fonts/GowunBatang-Bold.ttf');
}

@font-face {
  font-family: 'CrimsonText-Bold';
  src: local('CrimsonText'), url('@/assets/fonts/CrimsonText-Bold.ttf');
}



body { /* 메인 폰트 설정 */
  font-family: 'GowunBatang-Regular';
}
